
/* Blog Styles */

#blog h1{
  font-size: 2.5rem;
  margin: 0 0 4rem;
  text-align: center;
}

#blog .wrapper {
  padding: 4rem;
  margin: 0 auto 0 0;
}

#blog .articles-list{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}

#blog .articles-list h3{
  height: 56px;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 0rem;
}

#blog .article-item p{
  margin-top: .5rem;
  height: 93px;
  overflow: hidden;
  text-overflow: ellipsis;
}

#blog .article-item span{
  font-size: 1rem;
  text-decoration: underline;
  font-weight: 400;
}

#blog img{
  width: 100%;
  height: 233px;
  object-fit: cover;
}


/* Article Styles */
#article .wrapper {
  padding: 4rem;
  max-width: 1024px;
  margin: 0 auto 0 0;
}

#article img {
  width: 100%;
  height: 50vh;
  object-fit: cover;
}

#article h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#article .desc {
  margin: 0rem 0 2rem 0;
  padding: 0rem 10% 2rem 0;
  border-bottom: solid 1px #ccc;
  font-weight: 500;
  color: var(--color-blakc);
}

#article .content h2 {
  font-size: 1.5rem;
  margin: 1rem 0 1rem 0;
  color: var(--color-grey-text);
  font-weight: 600;
}

#article .content h3 {
  margin: 0;
}

#article .content {
  display: flex;
  flex-direction: column;
}

#article .content ul {
  color: var(--color-black);
  display: flex;
  flex-direction: column;
  list-style: disc;
  margin: 1rem 0 1rem 1rem;
}

#article .content li {
  margin-bottom: .5rem;
  font-weight: 500;
  font-style: italic;
}

#article .content p {
  margin-top: 0.5rem;
  font-weight: 400;
}


