/*PRODUCT GRID*/
/*PRODUCT GRID*/
/*PRODUCT GRID*/

.products{
  width: 100%;
}

.products .wrapper{
  padding: 2rem 4rem 4rem 4rem;
  width: 100%;
}

.products h2 {
  font-size: 2rem;
  margin: 2rem auto;
  max-width: 960px;
  text-align: center;
}

.products h4{
  font-size: 1.25rem;
  font-weight: 400;
  max-width: 860px;
  margin:2rem auto 4rem auto;
  text-transform: none;
  color: var(--color-black);
  text-align: center;
}

.product-filters{
  width: 100%;
  display: flex;
  justify-content: start;
  padding-bottom: 1.5rem;
  margin: 0 1rem 0px;
  border-bottom: 1px #dee2e6 solid;
}

.product-filters > :nth-child(1)
{
  margin-left: 2rem;
}

.sort-dropdown{
  display: inline-block;
  margin-right: 2rem;
}

.sort-dropdown label{
  font-size: 1rem;
  font-weight: 300;
  margin-right: .5rem;
  color: #666;
}

.sort-dropdown select{
  padding: 0.5rem ;
  font-size: .85rem;
  border: 1px solid #e6e9ec;
  border-radius: 5px;
  cursor: pointer;
  width: 134px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0rem;
}

.product-item {
  padding: 1.5rem;
  box-sizing: border-box;
  text-align: left;
  border: 1.5px solid #fff;
  position: relative;
  border-radius: 8px;
}

.product-item:hover {
  border-color: #dee2e6;
}

.product-item .best-wrap{
  display: none;
}

.product-item img {
  width: 100%;
  max-width: 100%;
  height: 254px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.product-item h3 {
  margin: 0.5rem 0rem;
  font-weight: 400;
  height: 1.5rem;
  color: var(--color-black);
  overflow: hidden;
  font-size: 1rem;
  height: 3rem;
}

.product-item .info,
.product-info .info{
  background-color: #eee;
  display: inline-block;
  margin: 0 0.5rem 0 0;
  padding: .25rem .5rem;
  font-size: .75rem;
  font-weight: 400;
  color: var(--color-grey-text);
  border-radius: 5px;
}

.product-item .stock,
.product-info .stock{
  margin: 0.5rem 0 0 1.2rem;
  color: var(--color-black);
  font-size: .85rem;
  font-weight: 500;
}


.product-item .stock span,
.product-info .stock span{
  color: green;
  font-size: 5rem;
  height: .1rem;
  width: 2rem;
  display: block;
  line-height: .9rem;
  margin-left: -1.45rem;
  
}

.product-item .stock.low span {
  color: rgb(255, 174, 0);
}

.product-item .delivery,
.product-info .delivery{
  margin: 0.5rem 0 ;
  color: var(--color-black);
  font-size: .85rem;
  font-weight: 400;
  color: var(--color-grey-text);
}


.product-item .price {
  margin: 0rem 0.5rem 0 .1rem;
  font-weight: 700;
  font-size: 1.25rem;
  color: var(--color-black);
}

.product-item .new-price{
  color: var(--color-secondary);
}

.product-item .initial-price{
  text-decoration: line-through;
  color: #aaa;
  font-size: .85rem;
  font-weight: 300;
  position: absolute;
  bottom: 1.83rem;
  left: 7.5rem;
}


.product-item.best-seller .best-wrap,
.product-info.best-seller .best-wrap{
  display: inline-block;
  background-color: var(--color-bg);
  padding: .25rem .5rem 0.25rem .35rem;
  color: var(--color-secondary);
  font-size: .75rem;
  bottom: 15rem;
  opacity: .75;
  border-radius: 4px;
  font-weight: 400;
}



.pagination {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
  align-items: center;
}

.pagination span {
  width: 55px;
  font-size: .85rem;
  text-align: center;
  color: var(--color-grey-text)
}

.pagination button {
  padding: .75rem 1rem;
  font-size: .9rem;
  background-color: white;
  color: var(--color-secondary);
  border: 1.5px solid var(--color-secondary);
  width: 120px;

}


@media (max-width:1024px){

  .products .wrapper{
    padding: 2rem 2rem 4rem 2rem;
  }

  .products h2{
    margin: 1.5rem auto 1.5rem;
    font-size: 1.5rem;
  }
  .products h4{
    font-size: 1rem;
    margin: 0rem auto 2rem auto;
  }

  .product-filters{
    margin-left: 0;
    justify-content: start;
  }

  .product-filters .sort-dropdown{
    display: flex;
    flex-direction: column;
    justify-content: start;
    text-align: left;
    width: 50%;
    margin: 0;
  }

  .product-filters label{
    margin-bottom: .5rem;
    margin-left: .25rem;
    font-size: .9rem;
  }
  .product-filters select{
    width: auto;
    margin: 0;
  }
  
  .product-filters>div:nth-child(3) {
    display: none;
  }

  .product-filters > div:nth-child(2) {
    margin-left: 1rem;
  }



  .product-list {
    grid-template-columns: repeat(1, 1fr);
  }

  .product-item {
    padding: 1.5rem 1rem;
    min-width: 160px;
  }

  .product-item img {
    height: auto;
    
  }

  .product-item h3 {
    font-size: 14px;
    
    height: 2.5rem;
    margin: .5rem 0 0 0; 
  }

  .product-item p{
    margin: 0.15rem 0 0 0
  }

  .product-item.best-seller .best-wrap{
    bottom:5.25rem;
  }

  .product-item .initial-price{
    bottom: 1.86rem;
    left: 7.5rem;
  }

    .product-item .delivery{
      margin-top: 0rem;
    }

  .pagination span {
    font-size: .75rem;
    width: 45px;
  }

  .pagination button {
    width: 110px;
    font-size: .85rem;
    padding: .75rem;
  }

  .product-detail .wrapper {
    padding: 2rem 1.5rem 0 1.5rem;
  }

  .product-columns {
    flex-direction: column;
    gap: 2rem;
  }

  .product-info h1 {
    font-size: 1.5rem;
    margin-top: 0;
  }

  .product-image img:nth-child(3) {
    display: none;
  }

  .product-item.best-seller .best-wrap{
    width: 96px;
  }
}